/*This is for the header designed*/

.header {
  background-color: blue;
  height: 153.6px;
  margin: 2px;
}
.header_title {
  margin: 0px 100px 100px;
  align-items: center;
  text-align: center;
  background-color: rgb(1, 244, 78);
  color: rgb(19, 16, 20);
  font-weight: 400;
  font-family: "Courier New", Courier, monospace;
}

/*This is for the header designed*/

.body {
  background-color: cornflowerblue;
  height: 460.8px;
  margin: 0px 5px 0px 5px;
}
.body_left {
  width: 25%;
  background-color: rgb(10, 226, 211);
  height: 460.8px;
  float: left;
}

/* .body_center {
  width: 50%;
  background-color: rgb(217, 227, 217);
  height: 460.8px;
  float: left;
} */
.body_right {
  width: 75%;
  background-color: rgb(8, 226, 95);
  height: 460.8px;
  float: right;
  position: relative;
}
.body_right .button_body_right {
  margin: 205px 90px;
  border-radius: 15px;
  border: 4px solid red;
  color: rgb(51, 0, 255);
}
/*This is for the header designed*/

.footer {
  color: aqua;
  background-color: rgb(10, 4, 95);
  height: 153.6px;
  margin: 2px;
}

/*
  
  */
